body {
  background-color: black;
  color: whitesmoke;
}

.container {
  border: 2px solid whitesmoke;
  padding: 20px;
}

#question {
  text-align: center;
  font-size: xx-large;
}

.start-button-area {
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-size: xx-large;
}

#timer {
  text-align: center;
}

.score-container {
  text-align: center;
}
